<template>
  <div>
    <form class="row q-gutter-xl q-mb-lg">
      <div class="col-3">
        <q-input label="Informe o código do projeto" v-model="id" />
      </div>
      <div class="col-2 flex items-end">
        <q-btn label="Pesquisar" color="primary" @click="pesquisar" />
      </div>
    </form>
  </div>
</template>

<script>

export default {
  name: 'FiltroTarefa',
  data: function () {
    return {
      id: ''
    }
  },
  methods: {
    pesquisar () {
      this.$emit('pesquisou', this.id)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
