<template>
  <div class="q-ma-xl">
    <q-card class="q-mb-md">
      <q-card-section>
        <div class="text-h4 text-primary">
          Tarefas
        </div>
      </q-card-section>
      <q-card-section>
        <consulta-tarefas @pesquisou="filtro => pesquisar(filtro)" />
      </q-card-section>
    </q-card>
    <q-separator dark/>
    <q-card>
      <filtro-tabela :dataTable="listaProjetos" :columnsTable="columnsProjetos" />
    </q-card>
  </div>
</template>

<script>
import * as TarefasService from '@/services/tarefas'
import ConsultaTarefas from '@/components/tarefas/ConsultaTarefas'
import FiltroTabela from '@/components/tarefas/FiltroTabela'
export default {
  name: 'FiltroTarefa',
  components: {
    ConsultaTarefas,
    FiltroTabela
  },
  data: function () {
    return {
      text: '',
      teste: '',
      listaProjetos: [],
      columnsProjetos: [
        { name: 'id', label: 'Código', field: 'id', align: 'center' },
        { name: 'titulo', label: 'Título', field: 'title', align: 'center' },
        { name: 'autor', label: 'Autor', field: row => row.author.name, align: 'center' }
      ]
    }
  },
  methods: {
    pesquisar (filtro) {
      if (!filtro || filtro.length <= 0) {
        return
      }
      TarefasService.listarIssues(filtro)
        .then((response) => {
          this.listaProjetos = response.data
        }).catch((error) => console.log(error))
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
