<template>
  <div>
    <q-card>
       <q-card-section>
         <div class="text-h6"> Tabela</div>
      </q-card-section>
      <q-separator dark/>
      <q-card-section>
        <q-table class="q-pa-none" :data="dataTable" :columns="columnsTable" />
      </q-card-section>
    </q-card>
  </div>
</template>

<script>

export default {
  name: 'FiltroTarefa',
  props: {
    dataTable: {
      type: Array,
      required: true,
      default: () => []
    },
    columnsTable: {
      type: Array,
      required: true,
      default: () => []
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
