<template>
  <div>
    <div class="flex justify-center">
      <h1 class="text-primary"> Treinamento de Vuejs</h1>
    </div>
    <div class="flex justify-center ">
      <p class="text-primary">Participantes:</p>
      <ul class="row text-primary">
        <li v-for="item in participantes" :key="item">
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data: function () {
    return {
      participantes: ['matheus', 'wallace', 'danilo', 'fabio', 'rodrigo', 'julio', 'grabriel']
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
