<template>
  <q-layout view="hHh lpR fFf">

    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <q-btn dense flat round icon="menu" @click="left = !left" />

        <q-toolbar-title>
          <q-avatar>
            <img src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg">
          </q-avatar>
          Stefanini
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer :width="200" show-if-above v-model="left" side="left" bordered>
      <q-list >
        <template v-for="(menuItem, index) in menuList">
          <q-item :to="{ name: menuItem.to }" :key="index" clickable v-ripple>
            <q-item-section avatar>
              <q-icon :name="menuItem.icon" />
            </q-item-section>
            <q-item-section>
              {{ menuItem.label }}
            </q-item-section>
          </q-item>
          <q-separator :key="'sep' + index"  v-if="menuItem.separator" />
        </template>

      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
export default {
  data () {
    return {
      left: false,
      menuList: [
        {
          icon: 'home',
          label: 'Home',
          to: 'home',
          separator: true
        },
        {
          icon: 'bookmarks',
          label: 'Tarefas',
          separator: false,
          to: 'filtroTarefa'
        }
      ]
    }
  }
}
</script>
